{
        "out_dir_group": "diverse_simulations",

        "liftover": "True", 

	"gwas_reference_files": ["/oak/stanford/groups/smontgom/mgloud/projects/gwas-download/gwas-download/munge/munged/2021-retry/hg19/BMI-and-Height_Yengo_2018/BMI.txt.gz"],
	"gwas_threshold": 1e-7,
	"window": 500000,

	"total_test_sites": 100000,
        
        "simulate_peer": "False",

        "no_genotypes": "False",

	"p_gwas_causal": 1,
	"p_eqtl_causal_given_gwas_causal": 1,
	"p_eqtl_causal_given_no_gwas_causal": 1,
	"p_same_causal_given_both_causal": 0.5,

	"gwas_min_log_odds": 0.003,
	"gwas_max_log_odds": 0.1,
	"eqtl_min_effect_size": 0.2,
        "eqtl_max_effect_size": 1,
	"gwas_min_control_log_sample_size": 4,
	"gwas_max_control_log_sample_size": 4,
	"gwas_min_case_log_sample_size": 4,
	"gwas_max_case_log_sample_size": 4,
	"eqtl_min_log_sample_size": 2.47,
	"eqtl_max_log_sample_size": 2.47
}


